{% extends "template.html" %}

{% block title %}
    Teakwood - About
{% endblock %}

{% block page_title %}
    Architectural Overview
{% endblock %}

{#{% block shortcuts_title %}#}
{#    AbouTeakwoodte#}
{#{% endblock %}#}
{##}
{#{% block panelnavibar %}#}
{#    <a href="{% url teakwood_home %}">Home</a>&gt;#}
{#{% endblock %}#}
{% block panelnavibar %}
    <a class="brand" href="{% url teakwood_about %}">
        <img class="infobox" src="{{ STATIC_URL }}teakwood/img/teakwood.png"/>AbTeakwoodgate</a>
    <ul class="nav" role="navigation">
        <li class="dropdown">
            <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Help<b
                    class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="{% url teakwood_tutorials %}"
                       title="quick start tutorial">Tutorials
                    </a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="{% url teakwood_doc %}"
                       title="online documents">Online documents
                    </a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="{% url teakwood_contact %}"
                       title="teakwood contact">Contact
                    </a>
                </li>
{#                <li role="presentation">#}
{#                    <a role="menuitem" tabindex="-1" href="{% url teakwood_credit %}"#}
{#                       title="teakwood credit">Credit#}
{#                    </a>#}
{#                </li>#}
{#                <li role="presentation">#}
{#                    <a role="menuitem" tabindex="-1" href="{% url teakwood_license %}"#}
{#                       title="teakwood license">Terms &amp; license#}
{#                    </a>#}
{#                </li>#}
            </ul>
        </li>
    </ul>
{% endblock %}

{% block shortcuts %}
    <ul id="browser" class="filetree">
        <li>
            <span class="file"><a href="{% url teakwood_tutorials %}">Tutorials</a></span>
        </li>
        <li>
            <span class="file"><a href="{% url teakwood_doc %}">Documents</a></span>
        </li>
        <li>
            <span class="file"><a href="{% url teakwood_contact %}">Contact</a></span>
        </li>
{#        <li>#}
{#            <span class="file"><a href="{% url teakwood_credit %}">Credit</a></span>#}
{#        </li>#}
{#        <li>#}
{#            <span class="file"><a href="{% url teakwood_license %}">License</a></span>#}
{#        </li>#}
    </ul>
{% endblock %}
