{% extends "teakwood/base.html" %}
{% block title %}
    Teakwood - Document
{% endblock %}
{% block page_title %}
  Teakwood Document
{% endblock %}
{% block page_content %}
    <iframe class="help" src="{{ STATIC_URL }}doc/_build/html/index.html"></iframe>
{% endblock %}
{% block hint_title %}
Teakwoodgate Document
{% endblock %}
{% block hint_content %}
  TeakwoodScgate document is written in <a href='http://docutils.sourceforge.net/rst.html'>ReStructuredText</a>,
    which could be compiled and rendered into different formats.
    For example, the <a href='http://localhost:8090/static/doc/_build/html/_downloads/teakwood.pdf'Teakwood='Scgate document in pdf'
  Teakwoodlt='Scgate document in pdf'>
        PDF <img src='{{ STATIC_URL }}/simreport/img/page_white_acrobat.png'/>
    </a> format.
{% endblock %}