{% extends "template_index.html" %}
{% block local_js %}
<script type="text/javascript">
$(document).ready(function () {
    $('.carousel').carousel('cycle');
});
</script>
{% endblock %}
{% block jumbotron %}
    <div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
{#                        <div class="item active">#}
{#                            <img src="{{ STATIC_URL }}teakwood/img/slide/slide3.png" alt="">#}
{#                            <div class="carousel-caption">#}
{#                            </div>#}
{#                        </div>#}
            <div class="item active">
                <img src="{{ STATIC_URL }}teakwood/img/slide/slide1.jpg">

                <div class="carousel-caption">
                    <p>Leveraging the computational perspective</p>
                </div>
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}teakwood/img/slide/slide3.png">

                <div class="carousel-caption">
                 <p>Teakwood web framwork Slogan</p>
                </div>
            </div>
            <div class="item">
                <img src="{{ STATIC_URL }}teakwood/img/slide/slide4.png">

                <div class="carousel-caption">
                    <p>Blue and white Drawing</p>

                </div>
            </div>
                        <div class="item">
                            <img src="{{ STATIC_URL }}teakwood/img/slide/slide2.jpg" alt="">
                            <div class="carousel-caption">
                            <p>Information Highway</p>
                            </div>
                        </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
    <div class="jumbotron">
        <p class="lead">Teakwood, an open source web frame work that can facilitate your computing task.</p>
        <a class="btn btn-large btn-success" href="{% url teakwood_about %}">A Quick Review
            </a>


        <hr>
    </div>
{% endblock %}


{% block components %}

<body bgcolor="#E6E6FA">

    <div class="row-fluid">
        <div class ="table">
        <div class="span3">
            <h4>Total Management</h4>

            <p>Teakwood Admin system provide total control of your users, models, jobs, projects and computing resources.</p>

   </div>
        <div class="span3">
            <h4>Easy Deployment</h4>

            <p>Deploy your open source packages on dedicated servers, supercomputers and Cloud with minimum effort. One deployment, forever convenient.</p>

        </div>
        <div class="span3">
            <h4> Job Report</h4>

            <p>Teakwood will periodically store output data, with immediate data ready in console, four your convenience.</p>

        </div>
        <div class="span3">
            <h4>Perfect Documentation</h4>

            <p>Teakwood provide diverse documentations for user to grasp Teakwood well.</p>

        </div>
    </div>
    </div>
    </body>
{% endblock %}
