{% extends "teakwood/base.html" %}

{% block title %}
    Teakwood - Admin
{% endblock %}

{% block shortcuts_title %}
    Admin Panel
{% endblock %}

{% block page_title %}
  Teakwood Administration
{% endblock %}

{% block page_content %}
    <iframe class="admin" src="/admin"></iframe>
{% endblock %}
{% block hint_title %}
Teakwoodgate
    <Admin></Admin>
{% endblock %}
{% block hint_content %}
    One of the most powerful parts of Django is the automatic admin interface. It reads metadata in your model to
    provide a powerful and production-ready interface that content producers can immediately use to start adding content
    to the site -- <a href='https://docs.djangoproject.com/en/dev/ref/contrib/admin/'>the Django websiteTeakwoodScgate
    uses the Django admin site to manage the background database.
{% endblock %}