{% extends "template_index.html" %}

{% block local_css %}
    <style type="text/css">
        #isolated td {
            text-align: center;
        }
    </style>
{% endblock %}

{% block components %}
   <fieldset>
   <legend><h3>User Manual</h3></legend>
<!--<h5>Download <a href="https://github.com/mvrk/TEAKWOOD" target="_blank"-->
              <!--title="Download">User_manual.PDF</h5>-->
        <iframe id="doc_iframe" style="width: 100%; border: 0; height:500px;"
                src="{{ STATIC_URL }}doc/_build/html/index.html"></iframe>
    </fieldset>

         <legend><h3>Developer Manual</h3></legend>
<!--<h5>Download <a href="https://github.com/mvrk/TEAKWOOD" target="_blank"-->
              <!--title="Download">Developer_manual.PDF</h5>-->
        <iframe id="doc_iframe" style="width: 100%; border: 0; height:500px;"
                src="{{ STATIC_URL }}doc/_build/html/index.html"></iframe>
    </fieldset>
        <table class="table table-hover table-striped ">
 <legend><h3>Supporter</h3></legend>
            <thead>
            <tr>
                <th>Institute</th>
                <th>Group</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="http://www.lsu.edu" target="_blank"
                       title="Louisiana State University">
                        <img style="height:35px" src="{{ STATIC_URL }}teakwood/img/logo_lsu.png" alt="LSU"/></a>
                </td>
                <td><a href="http://www.lsu.edu" target="_blank"
                          title="Louisiana State University">Louisiana State Univeristy</a><p>provides computing resources for testing this project.</p>
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>

{% endblock %}