{% extends "template_index.html" %}

{% block local_css %}
    <style type="text/css">
        #isolated td {
            text-align: center;
        }
    </style>
{% endblock %}

{% block components %}
   <fieldset>
   <legend><h3>User Manual</h3></legend>
<!--<h5>Download <a href="https://github.com/mvrk/TEAKWOOD" target="_blank"-->
              <!--title="Download">User_manual.PDF</h5>-->
        <iframe id="doc_iframe" style="width: 100%; border: 0; height:500px;"
                src="{{ STATIC_URL }}doc/_build/html/index.html"></iframe>
    </fieldset>

        <table class="table table-hover table-striped ">




{% endblock %}