{% extends "template_index.html" %}
{% block components %}
    {#    This screencast is in SWF format. <a href="http://get.adobe.com/flashplayer/">The Flash player </a>#}
    {#    is required to view it. Tutorials in other formats will be available soon.#}

    <fieldset>
        <legend><h3>Video Tutorials</h3></legend>
        <div class="media">
            <a class="pull-left" href="#">
                <iframe width="400" height="225" src="https://www.youtube.com/embed/Vrz_pELytgs?rel=0" frameborder="0"
                        allowfullscreen></iframe>
            </a>
            <div class="media-body">
                <h4 class="media-heading">Submit your job via Teakwood.</h4>
                by Rui Guo
                <hr>
                <p>
                    This video will show you how to submit you job via Teakwood. (Video on right is just a placeholder, Actual video will be ready soon.)
                </p>
            </div>
        </div>
    </fieldset>
{% endblock %}

