{% extends "simfactory/base.html" %}
{% block local_js %}
    <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
        $(function () {
            {#            $("#selectall").click(function () {#}
            {#                $('.job').attr('checked', this.checked);#}
            {#            });#}

            {#            $(".job").click(function () {#}
            {##}
            {#                if ($(".job").length == $(".job:checked").length) {#}
            {#                    $("#selectall").attr("checked", "checked");#}
            {#                } else {#}
            {#                    $("#selectall").removeAttr("checked");#}
            {#                }#}
            {#            });#}

            $("#detailed_table").click(function () {
                fnShowHide(3);
                fnShowHide(4);
                fnShowHide(5);
                fnShowHide(6);
                fnShowHide(7);
                fnShowHide(8);
                fnShowHide(10);
                fnShowHide(11);
                {#                fnShowHide(15);#}
            });
            $('#jobtable').dataTable({
                "bJQueryUI": true,
                "sPaginationType": "full_numbers",
                "iDisplayLength": 10,
                "aLengthMenu": [
                    [10, 25, 50, -1],
                    [10, 25, 50, "All"]
                ],
                "aaSorting": [],
                "aoColumns": [
                    /* select */   null,
                    /* id */  null,
                    /* name */ null,
                    /* control */  { "bVisible": false },
                    /* jid */    { "bVisible": false },
                    /* user */  { "bVisible": false },
                    /* group */ { "bVisible": false },
                /**model */ { "bVisible": false },
                    /* model input */ { "bVisible": false },
                    /* machine */    null,
                    /* queue */ { "bVisible": false },
                    /* processors */ { "bVisible": false },
                    /* status */    null,
                    /* progress */    null,
                    /* last updated*/   null,
                    /* action */   null

                ] });
        });
        $("#jobtable").bind('tabsselect', function (event, ui) {
            if (ui.index === 1) {
                tables.statistics("metrics", "metric");
            }
        });

        function fnShowHide(iCol) {
            /* Get the DataTables object again - this is not a recreation, just a get of the object */
            var oTable = $('#jobtable').dataTable();
            var bVis = oTable.fnSettings().aoColumns[iCol].bVisible;
            oTable.fnSetColumnVis(iCol, bVis ? false : true);
        }
    </script>
{% endblock %}
{% block page_title %}
    Job List
{% endblock %}

{% block page_content %}
    {% if object_list %}
        <form class="form-horizontal" action="{% url simlab_jobcompare %}" method="POST">
        {% csrf_token %}
        <div class="well">
            <a href="{% url simfactory_jobcheckstatusall %}" title="Check job status">
                <button id="checkstatus" type="button" class="btn btn-warning" data-loading-text="Checking...">
                    <i class="icon-refresh icon-white"></i>
                    <span>Check status</span>
                </button>
            </a>
            <a href="{% url simfactory_jobdeleteall %}" title="Delete all jobs"
               onclick="return confirm('Are you sure you want to delete all jobs ?')">
                <button type="button" style="float:right;" class="btn btn-danger">
                    <i class="icon-trash icon-white"></i>
                    <span>Delete all</span>
                </button>
            </a>
            <a href="{% url simfactory_jobstopall %}" title="Stop all of your jobs">
                <button type="button" style="float:right;" class="btn btn-info">
                    <i class="icon-stop icon-white"></i>
                    <span>Stop all</span>
                </button>
            </a>

            <a href="{% url simfactory_jobsubmitall %}" title="Submit all of your jobs">
                <button type="button" style="float:right;" class="btn btn-success">
                    <i class="icon-play icon-white"></i>
                    <span>Submit all</span>
                </button>
            </a>
            <button type="submit" class="btn btn-primary">
                <i class="icon-list icon-white"></i>
                <span>Compare selected</span>
            </button>
            {#            <input style="margin-left:10px;" type="checkbox" id="selectall">#}
        </div>

        <div style="float:right; padding-bottom: 10px;">
            <button id="detailed_table" type="button" class="btn" data-toggle="button">Detailed Table</button>
        </div>

        <table id="jobtable" style="width:100%;">
            <thead>   <!-- header row -->
            <tr>
                <th>Select</th>
                <th>ID</th>
                <th>Name</th>
                <th>Control</th>
                <th>JID</th>
                <th>User</th>
                <th>Group</th>
                <th>Model</th>
                <th>Model Input</th>
                <th>Machine</th>
                <th>Queue</th>
                <th>Processors</th>
                <th>Status</th>
                <th>Progress</th>
                <th>Last Updated</th>
                {#                <th>Job Script</th>#}
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for j in object_list %}
                <tr>
                    <td><input type="checkbox" class="job" name="job_ids" value="{{ j.id }}"/></td>
                    <td>
                        {{ j.id }}
                    </td>
                    <td>
                        <a href="{% url simfactory_jobview j.id %}"
                           title="{{ j.name }}{% if j.description %}:  {{ j.description }}{% endif %}">
                            {{ j.name }}
                        </a>
                    </td>
                    <td style="text-align: center;">
                        {% if j.jobstate in 'QRA' %}
                            <a href="{% url simfactory_jobstop j.id %}" title="stop a job">
                                <img src="{{ STATIC_URL }}/simfactory/img/control_stop_blue.png" title="Stop a job"
                                     alt="Stop a job"/>
                            </a>
                        {% else %}
                            <a href="{% url simfactory_jobsubmit j.id %}" title="submit a job">
                                {% if j.jobstate in 'CD' %}
                                    <img src="{{ STATIC_URL }}/simfactory/img/control_repeat_blue.png"
                                         title="Submit again"
                                         alt="submit again"/>
                                {% else %}
                                    <img src="{{ STATIC_URL }}/simfactory/img/control_play_blue.png"
                                         title="Submit a job"
                                         alt="submit a job"/>
                                {% endif %}
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ j.jobid }}</td>
                    <td>{{ j.user }}</td>
                    <td>{{ j.group }}</td>
                    <td>
                        {% if j.model_input.model.id %}
                            <a href="{% url coastalmodels_coastalmodelview j.model_input.model.id %}"
                               title="View job {{ j.model_input.model.name }}">
                                {{ j.model_input.model }}</a>
                        {% endif %}
                    </td>
                    <td>{% if j.model_input.model.id %}
                        <a href="{% url coastalmodels_modelinputview j.model_input.id %}"
                           title="View job {{ j.name }}">
                            {{ j.model_input }}
                        </a>
                    {% endif %}
                    </td>
                    <td><a href="{% url simfactory_machinelist %}" title="View machine {{ j.machine }}">
                        {{ j.machine }}
                    </a></td>
                    <td>{{ j.queuename }}</td>
                    <td>{{ j.slots }}</td>
                    <td>
                        {% if j.jobstate in 'R' %}
                            <span class="label label-success">
                                                        <i class="icon-ok icon-white"></i> Running
                                                    </span>
                        {% elif j.jobstate in 'C' %}
                            <span class="label label-success">
                                                        <i class="icon-ok icon-white"></i> Job Finished
                                                    </span>
                        {% elif j.jobstate in 'D' %}
                            <a href="{% url datafactory_opendap %}{{ j.id }}">

                            <span class="label label-success">
                                                        <i class="icon-ok icon-white"></i> Data Ready
                                                    </span>
                            </a>
                        {% elif j.jobstate in 'Q' %}
                            <span class="label label-warning">
                                                        <i class="icon-refresh icon-white"></i> Queued
                                                    </span>
                        {% elif j.jobstate in 'A' %}
                            <span class="label label-success">
                                                        <i class="icon-upload icon-white"></i> Uploading
                                                    </span>
                        {% else %}
                            <span class="label label-important">
                                                        <i class="icon-question-sign icon-white"></i> Unknown
                                                    </span>

                        {% endif %}
                        {##}
                        {#                        {% if j.jobstate in 'U' %}#}
                        {#                            <button type="button" class="btn btn-info">#}
                        {#                                <i class="icon-question-sign icon-white"></i>{{ j.jobstate }}#}
                        {#                            </button>#}
                        {#                        {% elif j.jobstate in 'R' %}#}
                        {#                            <button type="button" class="btn btn-success">#}
                        {#                                <i class="icon-ok icon-white"></i>{{ j.jobstate }}#}
                        {#                            </button>#}
                        {#                        {% elif j.jobstate in 'CD' %}#}
                        {#                            <a href="{% url datafactory_opendap %}{{ j.id }}"#}
                        {#                               title="View the outpuf of job {{ j.name }}">#}
                        {#                                <button type="button" class="btn"#}
                        {#                                        title="It may take a while for the all the files to be copied to the data server">#}
                        {#                                    <i class="icon-ok"></i>{{ j.jobstate }}#}
                        {#                                </button>#}
                        {#                            </a>#}
                        {#                        {% elif j.jobstate in 'Q' %}#}
                        {#                            <button type="button" class="btn btn-warning">#}
                        {#                                <i class="icon-time icon-white"></i>{{ j.jobstate }}#}
                        {#                            </button>#}
                        {#                        {% elif j.jobstate in 'A' %}#}
                        {#                            <button type="button" class="btn btn-warning">#}
                        {#                                <i class="icon-upload icon-white"></i>{{ j.jobstate }}#}
                        {#                            </button>#}
                        {#                        {% else %}#}
                        {#                            <button class="btn btn-warning">#}
                        {#                                <i class="icon-question-sign icon-white"></i>#}
                        {#                                <span>{{ j.jobstate }} ({{ j.name }})</span>#}
                        {#                            </button>#}
                        {#                        {% endif %}#}
                    </td>
                    {#                    <script>#}
                    {#                        $(document).ready(function () {#}
                    {#                            $("#progressbar{{ j.id }}").progressbar({ value: {{ j.progress }} });#}
                    {#                        });#}
                    {#                    </script>#}
                    <td>
                        <div class="progress progress-striped active" style="margin: 0px;">
                            <div class="bar" style="width: {{ j.progress }}%">
                                {% if j.progress > 50 %}
                                    {{ j.progress }}%</div>
                                {% else %}
                                    </div>{{ j.progress }}%
                                {% endif %}
                        </div>
                        {#                        #}
                        {#                        <div id="progressbar{{ j.id }}" class="progress progress-info progress-striped">#}
                        {#                            <div class="bar" style="width: {{ j.progress }}%;"></div>{{ j.progress }}%#}
                        {#                        </div>#}
                    </td>
                    <td>{{ j.last_modified|timesince }} ago</td>

                    {#                    <td>#}
                    {#                        <a href="{% url simfactory_jobscriptexport j.id %}"#}
                    {#                           title="Download the job sumission script">#}
                    {#                            <img src="{{ STATIC_URL }}simfactory/img/page_white_put.png" alt="view requested data"/>#}
                    {#                        </a>#}
                    {#                    </td>#}
                    <td>
                        <a href="{% url simfactory_jobview j.id %}" title="View a job">
                            <img src="{{ STATIC_URL }}simfactory/img/monitor_magnify.png" alt="view a job"/>
                        </a>
                        {% ifequal j.user request.user %}
                            {#                            <a href="{% url simfactory_jobedit j.id %}" title="Edit a job">#}
                            {#                                <img src="{{ STATIC_URL }}simfactory/img/monitor_edit.png" alt="edit a job"/>#}
                            {#                            </a>#}
                            <a href="{% url simfactory_jobdelete j.id %}" title="Delete a job"
                               onclick="return confirm('Are you sure you want to delete ?')">
                                <img src="{{ STATIC_URL }}simfactory/img/monitor_delete.png" alt="delete a job"/>
                            </a>
                        {% endifequal %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </form>

    {% else %}
        <p class="page_description">
            You don't have a job yet. Please click <a href="{% url simfactory_jobadd %}" title="Create a new job">
            <img src="{{ STATIC_URL }}simfactory/img/computer_add.png" alt="create a new job"/></a> to create a new
            job.
        </p>
    {% endif %}
{% endblock %}
{% block page_hints %}
    <h4>Job list</h4>
    <hr/>
    Here we list all the jobs created by you and your group members.
    Currently, we only detect the following job states:
    <br/>
    four "success" states,
    <span class="label label-success">
        <i class="icon-ok icon-white"></i> Running
    </span>
    <span class="label label-success">
        <i class="icon-ok icon-white"></i> Finished
    </span>
    <span class="label label-success">
        <i class="icon-ok icon-white"></i> Data Ready
    </span>
    <span class="label label-success">
        <i class="icon-upload icon-white"></i> Uploading
    </span>
    <br/>
    one "waiting" state,
    <span class="label label-warning">
        <i class="icon-refresh icon-white"></i> Queued
    </span>
    <br/>
    and one "failing" state
    <span class="label label-important">
        <i class="icon-question-sign icon-white"></i> Unknown
    </span>
{% endblock %}
{% block hint_title %}
    Job List
{% endblock %}
{% block hint_content %}
    This page lists all your jobs and jobs shared by others. A job is a context
    to get you model successfully executed on a selected computing system once all the required model input information
    is ready. Not all columns are shown by default. You can click
    <button class='btn-tiny'>Detailed Table</button>
    to view the detailed table. You shall have full control -
    create <img src='{{ STATIC_URL }}/simfactory/img/monitor_add.png' title='Create a job' alt='Create a job'/>,
    view <img src='{{ STATIC_URL }}/simfactory/img/monitor_magnify.png' title='View a job' alt='View a job'/>,
    start <img src='{{ STATIC_URL }}/simfactory/img/control_play_blue.png' title='Start a job' alt='Start a job'/>,
    stop <img src='{{ STATIC_URL }}/simfactory/img/control_stop_blue.png' title='Stop a job' alt='Stop a job'/>,
    restart
    <img src='{{ STATIC_URL }}/simfactory/img/control_repeat_blue.png' title='Restart a job' alt='Restart a job'/>,
    and delete <img src='{{ STATIC_URL }}simfactory/img/monitor_delete.png' alt='delete a job'/> - over your own jobs.
    The job status is updated every 5 minutes though you can check the job status by clicking
    <button class='btn-tiny btn-warning'><i class='icon-refresh icon-white'></i>Check status</button>.
{% endblock %}
