{% extends "coastalmodels/base.html" %}

{% block page_title %}
   My FVCOM config
{% endblock %}

{#{% block panelnavibar %}#}
{#    <a href="{% url workflow_projectlist %}">Projects</a>&gt;#}
{#    <a href="{% url coastalmodels_modelinputlist %}">Model Inputs</a>&gt;#}
{#{% endblock %}#}
{##}
{% block page_content %}
    {% if object_list %}
        <table id="datatable" width="100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>User</th>
                <th>Group</th>
                <th>Coastal Model</th>
                <th>Model config</th>
                <th>Parameter File</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for m in object_list %}
                <tr>
                    <td>
                        <a href="{% url coastalmodels_fvcomconfigview m.id %}"
                           title="View the FVCOM config {{ m.id }}">
                            {{ m.id }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url coastalmodels_fvcomconfigview m.id %}"
                           title="View the FVCOM config {{ m.id }}">
                            {{ m.name }}
                        </a>
                    </td>
                    <td>{{ m.user }}</td>
                    <td>{{ m.group }}</td>
                    <td>
                        <a href="{% url coastalmodels_coastalmodelview m.model_input.model.id %}"
                           title="Coastal model {{ m.model_input.model.name }}">
                            {{ m.model_input.model }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url coastalmodels_modelinputview m.model_input.id %}"
                           title="Associated model input {{ m.model_input.model.id }}">
                            {{ m.model_input }}
                        </a>
                    </td>
                    <td>

{#TODO add parameter file editor later#}

{#                        {% if m.parameters %}#}
{#                            <a href="{% url coastalmodels_fvcomparametersview m.parameters.id %}"#}
{#                               title="FVCOM parameter list">#}
{#                                {{ m.parameters }}#}
{#                            </a>#}
{#                        {% else %}#}
{#                            <a href="{% url coastalmodels_fvcomparametersadd m.id %}"#}
{#                               title="Create a new FVCOM parameter file">#}
{#                                <button class="btn btn-primary btn-small">#}
{#                                    <i class="icon-plus icon-white"></i>#}
{#                                </button>#}
{#                            </a>#}
{#                        {% endif %}#}
{##}
{#                        <a href="{% url coastalmodels_fvcomparameterslist %}"#}
{#                           title="FVCOM parameters list">#}
{#                            {{ m.parameters }}#}
{#                        </a>#}

                    </td>
                    {#                    <td>#}
                    {#                        <a href="{% url coastalmodels_fvcominputexport m.id %}"#}
                    {#                           title="Download the FVCOM parameter file">#}
                    {#                            <img src="{{ STATIC_URL }}coastalmodels/img/page_white_put.png"#}
                    {#                                 alt="download the FVCOM parameter file"/>#}
                    {#                        </a>#}
                    {#                    </td>#}

                    <td>
                        <a href="{% url coastalmodels_fvcomconfigview m.id %}" title="View the FVCOM parameters">
                            <img src="{{ STATIC_URL }}coastalmodels/img/page_white_magnify.png"
                                 alt="view the FVCOM parameters"/>
                        </a>
                        {% ifequal m.user request.user %}
                            <a href="{% url coastalmodels_fvcomconfigedit m.id %}"
                               title="Edit the FVCOM config">
                                <img src="{{ STATIC_URL }}coastalmodels/img/page_white_edit.png"
                                     alt="edit the FVCOM config"/>
                            </a>
                            <a href="{% url coastalmodels_fvcomconfigdelete m.id %}"
                               title="Delete the FVCOM config"
                               onclick="return confirm('Are you sure you want to delete?')">
                                <img src="{{ STATIC_URL }}coastalmodels/img/page_white_delete.png"
                                     alt="delete the FVCOM config"/>
                            </a>
                        {% endifequal %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> You don't have a FVCOM config file yet. Please click
            <a href="{% url coastalmodels_fvcomconfigadd %}" title="Create a new FVCOM config">
                <img src="{{ STATIC_URL }}coastalmodels/img/page_white_add.png"
                     alt="create a new FVCOM config"/>
            </a>create a new FVCOM config</p>

    {% endif %}
{% endblock %}

{% block hint_title %}
  FVCOM Input List
{% endblock %}
{% block hint_content %}
    All FVCOM config under your account will be hosted here, you also can create new FVCOM config here by click
    <img src='{{ STATIC_URL }}workflow/img/application_form_add.png' alt='create a project'/> butthon.
{% endblock %}