{% extends "registration/base.html" %}

{% block local_meta %}
    <meta http-equiv="refresh" content="3;URL={% url teakwood_home %}">
{% endblock %}

{% block page_title %}
    Teakwood Logout
{% endblock %}

{% block page_content %}
    <ul class="infobox">
        <li>
            <h1><img class="infobox" src="{{ STATIC_URL }}teakwood/img/comment.png">Good Bye!</h1>
            <p>You've successfully logged out. You will be redirected to the <a href="{% url teakwood_home %}" alt="Teakwood Homepage">
                Teakwood homepage</a> in 3 seconds.</p>
        </li>
    </ul>
{% endblock %}

