{% extends "template.html" %}

{% block title %}
    Workflow - Project Management
{% endblock %}

{% block shortcuts_title %}
    Project Panel
{% endblock %}

{% block shortcuts %}
    <ul id="browser" class="filetree">
        <li>
            <span class="file"><a href="{% url workflow_projectadd %}">New project</a></span>
        </li>
        <li>
            <span class="file"><a href="{% url workflow_projectlist %}">List projects</a></span>
        </li>
    </ul>
{% endblock %}

{% block panelnavibar %}
    <a class="brand" href="{% url workflow_projectlist %}">
        <img class="infobox" src="{{ STATIC_URL }}workflow/img/application_cascade.png"/>My Projects</a>
    <ul class="nav" role="navigation">
        <li class="dropdown">
            <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Projects<b
                    class="caret"></b></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="{% url workflow_projectadd %}" title="Create a new project">
                        <img src="{{ STATIC_URL }}workflow/img/application_form_add.png"
                             alt="create a new project"/> Create a new project
                    </a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="{% url workflow_projectlist %}" title="List all my projects">
                        <img src="{{ STATIC_URL }}workflow/img/application_cascade.png"
                             alt="list all my projects"/> List all my projects
                    </a>
                </li>

                <li class="dropdown-submenu">
                    <a role="menuitem" tabindex="-1" href="#" title="Export my projects">
                        Export my projects
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{% url workflow_projectexportxml %}"
                               title="Export my projects">
                                <img src="{{ STATIC_URL }}coastalmodels/img/world.png"
                                     alt="Export my projects to XML"/> Export to XML
                            </a>
                        </li>
                        <li role="presentation">
                            <a role="menuitem" tabindex="-1" href="{% url workflow_projectexportjson %}"
                               title="Export my projects">
                                <img src="{{ STATIC_URL }}coastalmodels/img/world.png"
                                     alt="Export my projects to JSON"/> Export to JSON
                            </a>
                        </li>
                    </ul>
                </li>
{#                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>#}
{#                <li role="presentation" class="divider"></li>#}
{#                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>#}
            </ul>
        </li>
{#        <li class="dropdown">#}
{#            <a href="#" id="drop2" role="button" class="dropdown-toggle" data-toggle="dropdown">Jobs<b#}
{#                    class="caret"></b></a>#}
{#            <ul class="dropdown-menu" role="menu" aria-labelledby="drop2">#}
{#                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>#}
{#                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>#}
{#                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>#}
{#                <li role="presentation" class="divider"></li>#}
{#                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>#}
{#            </ul>#}
{#        </li>#}
    </ul>
    {#    <a href="{% url simulocean_help %}">Help</a>&gt;#}
{% endblock %}
