{% extends "template_index.html" %}
{#{% block page_title %}#}
{#    <img class="infobox" src="{{ STATIC_URL }}simulocean/img/simulocean.png"/>About Scgate#}
{#{% endblock %}#}

{% block components %}
    <fieldset>
        <legend><h3>Vision</h3></legend>
        <p>
            We aim to create a computational platform for scientist to use open sources tool easily.
        </p>
    </fieldset>
    <br/><br/>
    <fieldset>
        <legend><h3>Design &amp; Implementation</h3></legend>
        <p>
            Scgate is a web-based deployment and visualization
            framework for
            It provides:
        </p>
        <div>
            <p><img src="{{ STATIC_URL }}simulocean/img/bullet_go.png"/>projects and coastal model
                management,</p>

            <p><img src="{{ STATIC_URL }}simulocean/img/bullet_go.png"/>GIS-based mesh manipulators,</p>

            <p><img src="{{ STATIC_URL }}simulocean/img/bullet_go.png"/>observational data factory,</p>

            <p><img src="{{ STATIC_URL }}simulocean/img/bullet_go.png"/>numerical data interpolators,</p>

            <p><img src="{{ STATIC_URL }}simulocean/img/bullet_go.png"/>visualization (1D and 2D),</p>

            <p><img src="{{ STATIC_URL }}simulocean/img/bullet_go.png"/>report generation,</p>

            <p><img src="{{ STATIC_URL }}simulocean/img/bullet_go.png"/>model verification and validation,</p>

            <p><img src="{{ STATIC_URL }}simulocean/img/bullet_go.png"/>direct comparison of the output of a
                series of simulations using the same model.</p>
        </div


    </fieldset>
    <br/><br/>
    <fieldset>
        <legend><h3>About me</h3></legend>

        <table class="table table-hover table-striped ">
            <thead>
            <th>Name</th>
            <th>Email</th>

            <th width="60%">Brief Bio</th>
            </thead>

            <tbody>

            <tr>
                <td>Rui Guo</td>
                <td><a href="mailto:guojiarui@gmail.com">guojiarui@gmail.com</a></td>
                <td>
                    Rui Guo is a graduate research assistant from <a href="http://www.csc.lsu.edu/" target="_blank">the
                    Computer Science and Engineering Division</a> at LSU. Rui is currently working on a Master's degree
                    in Computer Science at LSU. His focus is Machine Learning and Big Data Analysis. He is also
                    interested in web design, Cloud computing and HPC.
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
    <br/><br/>
    <fieldset>
        <legend><h3>Contact</h3></legend>
        Please feel free to send your questions, suggestions, comments, and feature requests to the Scgate list
        <a href="mailto:guojiarui@.com">guojiarui@gmail.com</a>.
    </fieldset>
    <br/><br/>

    <div>
        <a href="http://www.djangoproject.com/" target="_blank"><img style="height:54px; border:0;float:right"
                                                                     src="https://www.djangoproject.com/m/img/badges/djangopowered126x54.gif"
                                                                     border="0"
                                                                     alt="Powered by Django."
                                                                     title="Powered by Django."/></a>
        <a href="http://www.mysql.com/" target="_blank"><img style="height:54px; border:0;float:right"
                                                             src="http://www.mysql.com/common/logos/powered-by-mysql-125x64.png"
                                                             border="0"
                                                             alt="Powered by MySQL." title="Powered by MySQL."/></a>
        <a href="http://www.apache.org/" target="_blank"><img style="height:54px; border:0; float:right"
                                                              src="{{ STATIC_URL }}simulocean/img/logo_apache.png"
                                                              border="0"
                                                              alt="Powered by Apache." title="Powered by Apache."/></a>
        <a href="http://www.python.org/" target="_blank"><img style="height:54px; border:0; float:right"
                                                              src="http://python.net/~goodger/projects/graphics/python/newlogo-repro.png"
                                                              border="0"
                                                              alt="Powered by Python." title="Powered by Python."/></a>
    </div>
    <br/><br/>
{% endblock %}
