{% extends "template_index.html" %}

{% block local_css %}
    <style type="text/css">
        #isolated td {
            text-align: center;
        }
    </style>
{% endblock %}

{% block components %}
    <fieldset>
        <legend><h3>Services</h3></legend>
        Scgate team provides services on five levels. <br/><br/>
        <table id="isolated" class="table table-hover table-striped">
            <thead>
            <tr>
                <th>Level</th>
                <th>Computing</th>
                <th>Short Term Storage </th>
                <th>Model Deployment</th>
                <th>Long Term Storage</th>
                <th>Visualization Support</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span class="badge badge-important">1</span>
                </td>
                <td>
                    <i class="icon-ok"></i>
                </td>
                <td>
                    <i class="icon-ok"></i>
                </td>
                <td>
                    <i class="icon-ok"></i>
                </td>
                <td>
                    <i class="icon-ok"></i>
                </td>
                <td>
                    <i class="icon-ok"></i>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="badge badge-success">2</span>
                </td>
                <td>
                    <i class="icon-ok"></i>
                </td>
                <td>
                    <i class="icon-ok"></i>
                </td>
                <td>
                    <i class="icon-ok"></i>
                </td>
                <td>
                    <i class="icon-ok"></i>
                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    <span class="badge badge-warning">3</span>
                </td>
                <td>
                    <i class="icon-ok"></i>
                </td>
                <td>
                    <i class="icon-ok"></i>
                </td>
                <td>
                    <i class="icon-ok"></i>
                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            <tr>
                <td>
                    <span class="badge badge-info">4</span>
                </td>
                <td>
                    <i class="icon-ok"></i>
                </td>
                <td>
                    <i class="icon-ok"></i>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td>
                    <span class="badge">5</span>
                </td>
                <td>
                    <i class="icon-ok"></i>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>
    <br/><br/>
    <fieldset>
        <legend><h3>Partners &amp; Collaborators</h3></legend>
        <table class="table table-hover table-striped ">

            <thead>
            <tr>
                <th>Institute</th>
                <th>Group</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <a href="http://www.lsu.edu" target="_blank"
                       title="Louisiana State University">
                        <img style="height:35px" src="{{ STATIC_URL }}simulocean/img/logo_lsu.png" alt="LSU"/></a>
                </td>
                <td><a href="http://www.lsu.edu" target="_blank"
                          title="Louisiana State University">Louisiana State Univeristy</a><p>provides computing resources for testing this project.</p>
                </td>
            </tr>
            </tbody>
        </table>
    </fieldset>

{% endblock %}