{% extends "template_index.html" %}
{% block components %}
    <div class="well">
        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO
        THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
        AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
        CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
        DEALINGS IN THE SOFTWARE.
    </div>
    <br/><br/>
    <fieldset>
        <legend><h3>Download</h3></legend>
        The first stable release of the Scgate framework will be available for downloading at the end of July 2014 in github.
    </fieldset>
        <legend><h3>Documentation</h3></legend>
        <iframe id="doc_iframe" style="width: 100%; border: 0; height: 600px;"
                src="{{ STATIC_URL }}doc/_build/html/index.html"></iframe>
    </fieldset>
{% endblock %}