{% extends "template.html" %}

{% block title %}
    Scgate - Visualization
{% endblock %}

{% block shortcuts_title %}
    Simviz Panel
{% endblock %}

{% block shortcuts %}
        <ul id="browser" class="filetree" xmlns="http://www.w3.org/1999/html">
            <li>
                <span class="file"><a href="{% url simviz_plotobsdata %}">Plot measurement data</a></span>
            </li>
            <li>
                <span class="file"><a href="{% url simviz_plotsimdata %}">Plot simulation data</a></span>
            </li>
        </ul>
{% endblock %}

{% block page_title %}
   Observational Data Plot
{% endblock %}

{% block panelnavibar %}
    <a class="brand" href="#">
        <img class="infobox" src="{{ STATIC_URL }}simfactory/img/chart_bar.png"/>Visualization</a>
    <ul class="nav" role="navigation">
        <li class="dropdown">
        </li>
    </ul>

{% endblock %}

{% block page_hints %}
<h4>simlab base</h4>
<hr/>
{% endblock %}