{% extends "simviz/base.html" %}
{% block local_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}highstock/js/highstock.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}highstock/js/modules/exporting.js"></script>
    <script type="text/javascript">
        $(function () {
            $.getJSON('/datarequest/exportjson/{{ object.data_request.id }}/{{ object.field_name }}', function (data) {
                // Create the chart
                window.chart = new Highcharts.StockChart({
                    chart: {
                        renderTo: 'plot_container'
                    },
                    rangeSelector: {
                        buttons: [
                            {
                                type: 'day',
                                count: 1,
                                text: '1d'
                            },
                            {
                                type: 'week',
                                count: 1,
                                text: '1w'
                            },
                            {
                                type: 'month',
                                count: 1,
                                text: '1m'
                            },
                            {
                                type: 'month',
                                count: 6,
                                text: '6m'
                            },
                            {
                                type: 'year',
                                count: 1,
                                text: '1y'
                            },
                            {
                                type: 'all',
                                text: 'All'
                            }
                        ],
                        inputEnabled: false,
                        selected: 1
                    },

                    title: {
                        text: '{{ object.field_name|upper }}'
                    },

                    xAxis: {
                        type: 'datetime',
                        maxZoom: 14 * 24 * 360000
                    },
                    series: [
                        {
                            name: '{{ object.field_name|upper }}',
                            data: data,
                            tooltip: {
                                yDecimals: 2
                            }
                        }
                    ]
                });
            });

        });

    </script>
{% endblock %}

{% block page_content %}
    {% if object %}
        <form class="form-horizontal" action="{% url simviz_plotobsdata %}" method="POST">
            {% csrf_token %}
            <table class="table table-hover" style="width:400px">
                <tbody>
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-primary">
                            <span>Plot</span>
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>
        </form>
        <hr/>
        <div class="well-large">
            <div id="plot_container"></div>
        </div>
        {#        <table width="100%" cellspacing="0" cellpadding="0">#}
        {#            <tr>#}
        {#                <td>#}
        {#                    <form class="actionform" action="{% url simviz_plotobsdata %}" method="post">#}
        {#                        {% csrf_token %}#}
        {#                        {{ plotobsdata_form.data_request }}#}
        {#                        {{ plotobsdata_form.field_name }}#}
        {#                        <input class="actionbut" type="submit" value="Plot">#}
        {#                    </form>#}
        {##}
        {#                </td>#}
        {#            </tr>#}
        {#            <tr>#}
        {#                <td>#}
        {#                    <div id="plot_container"></div>#}
        {#                </td>#}
        {#            </tr>#}
        {##}
        {#        </table>#}
    {% else %}
        <p> You don't have an data request yet for plotting. Please click
            <a href="{% url datafactory_datarequestadd %}" title="Sent a new data request">
                <img src="{{ STATIC_URL }}simfactory/img/transmit_add.png" alt="Sent a new data request"/>
            </a>to send a new data request.
        </p>
    {% endif %}
{% endblock %}
{##}
{#    {% if object_list %}#}
{#        <table width="100%" cellspacing="0" cellpadding="0">#}
{#            <tr>#}
{#                <td>#}
{#                    <form action="{% url coastalmodels_plotobsdata %}" method="post">{% csrf_token %}#}
{#                    <select name="datarequest">#}
{#                        {% for object in object_list %}#}
{#                            <option value="{{ object.id }}">#}
{#                                Data request {{ object.id }} on Station {{ object.station }} ( {{ object.start_time }}#}
{#                                - {{ object.end_time }})#}
{#                            </option>#}
{#                        {% endfor %}#}
{#                    </select>#}
{#                    <select name="fieldname">#}
{#                        <option selected="selected" value="wdir">WDIR(&deg;T)</option>#}
{#                        <option value="wspd">WSPD(m/s)</option>#}
{#                        <option value="gst">GST(m/s)</option>#}
{#                        <option value="wvht">WVHT(m)</option>#}
{#                        <option value="dpd">DPD(sec)</option>#}
{#                        <option value="apd">APD(sec)</option>#}
{#                        <option value="mwd">MWD(&deg;T)</option>#}
{#                        <option value="pres">PRES(hPa)</option>#}
{#                        <option value="atmp">ATMP(&deg;C)</option>#}
{#                        <option value="wtmp">WTMP(&deg;C)</option>#}
{#                        <option value="dewp">DEWP(&deg;C)</option>#}
{#                        <option value="vis">VIS(nmi)</option>#}
{#                        <option value="tide">TIDE(ft)</option>#}
{#                    </select>#}
{#                        <input class="actionbut" type="submit" value="Plot" />#}
{#                    </form>#}
{#                </td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>#}
{#                    <div id="plot_container"></div>#}
{#                </td>#}
{#            </tr>#}
{#        </table>#}
{##}
{#                        <a href="" title="Plot requested data">#}
{#                            <img src="{{ STATIC_URL }}simfactory/img/chart_curve.png" alt="plot requested data"/>#}
{#                        </a>#}
{#    {% else %}#}
{#        <p> You don't have an data request yet. Please click#}
{#            <a href="{% url datafactory_datarequestadd %}" title="Sent a new data request">#}
{#                <img src="{{ STATIC_URL }}simfactory/img/transmit_add.png" alt="Sent a new data request"/>#}
{#            </a>to send a new data request.#}
{#        </p>#}
{#    {% endif %}#}
{% block hint_title %}
    Plot Measurement Data
{% endblock %}
{% block hint_content %}
    This page provide a way of ploting measurement data.
{% endblock %}