{% extends "coastalmodels/base.html" %}

{% block page_title %}
    Edit CaFunwave Config
{% endblock %}

{#{% block panelnavibar %}#}
{#    <a href="{% url workflow_projectlist %}">Projects</a>&gt;#}
{#    <a href="{% url coastalmodels_modelinputlist %}">Model Inputs</a>&gt;#}
{#    <a href="{% url coastalmodels_swanconfiglist %}">SWAN Configs</a>&gt;#}
{#{% endblock %}#}

{% block page_content %}
    <form class="form-horizontal" action="{% url coastalmodels_cafunwaveconfigedit cafunwaveconfig_id %}" method="POST">
        {% csrf_token %}
        <table class="table table-hover" style="width:600px">
            <tbody>
            {{ cafunwaveconfig_form.as_table }}
            <tr>
                <td></td>
                <td>
                    <button type="submit" class="btn btn-primary">
                        <span>Save</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
{% endblock %}

{% block hint_title %}
    ca3
{% endblock %}
{% block hint_content %}
    All job outputs under your account will be hosted here.
{% endblock %}