{% extends "coastalmodels/base.html" %}

{% block page_title %}
   My SWAN config
{% endblock %}

{#{% block panelnavibar %}#}
{#    <a href="{% url workflow_projectlist %}">Projects</a>&gt;#}
{#    <a href="{% url coastalmodels_modelinputlist %}">Model Inputs</a>&gt;#}
{#{% endblock %}#}
{##}
{% block page_content %}
    {% if object_list %}
        <table id="datatable" width="100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>User</th>
                <th>Group</th>
                <th>Coastal Model</th>
                <th>Model config</th>
                <th>Parameter File</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for m in object_list %}
                <tr>
                    <td>
                        <a href="{% url coastalmodels_swanconfigview m.id %}"
                           title="View the SWAN config {{ m.id }}">
                            {{ m.id }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url coastalmodels_swanconfigview m.id %}"
                           title="View the SWAN config {{ m.id }}">
                            {{ m.name }}
                        </a>
                    </td>
                    <td>{{ m.user }}</td>
                    <td>{{ m.group }}</td>
                    <td>
                        <a href="{% url coastalmodels_coastalmodelview m.model_input.model.id %}"
                           title="Coastal model {{ m.model_input.model.name }}">
                            {{ m.model_input.model }}
                        </a>
                    </td>
                    <td>
                        <a href="{% url coastalmodels_modelinputview m.model_input.id %}"
                           title="Associated model input {{ m.model_input.model.id }}">
                            {{ m.model_input }}
                        </a>
                    </td>
                    <td>
                        {% if m.parameters %}
                            <a href="{% url coastalmodels_swanparametersview m.parameters.id %}"
                               title="SWAN parameter list">
                                {{ m.parameters }}
                            </a>
                        {% else %}
                            <a href="{% url coastalmodels_swanparametersadd m.id %}"
                               title="Create a new SWAN parameter file">
                                <button class="btn btn-primary btn-small">
                                    <i class="icon-plus icon-white"></i>
                                </button>
                            </a>
                        {% endif %}

                        <a href="{% url coastalmodels_swanparameterslist %}"
                           title="SWAN parameters list">
                            {{ m.parameters }}
                        </a>

                    </td>
                    {#                    <td>#}
                    {#                        <a href="{% url coastalmodels_swaninputexport m.id %}"#}
                    {#                           title="Download the SWAN parameter file">#}
                    {#                            <img src="{{ STATIC_URL }}coastalmodels/img/page_white_put.png"#}
                    {#                                 alt="download the SWAN parameter file"/>#}
                    {#                        </a>#}
                    {#                    </td>#}

                    <td>
                        <a href="{% url coastalmodels_swanconfigview m.id %}" title="View the SWAN parameters">
                            <img src="{{ STATIC_URL }}coastalmodels/img/page_white_magnify.png"
                                 alt="view the SWAN parameters"/>
                        </a>
                        {% ifequal m.user request.user %}
                            <a href="{% url coastalmodels_swanconfigedit m.id %}"
                               title="Edit the SWAN config">
                                <img src="{{ STATIC_URL }}coastalmodels/img/page_white_edit.png"
                                     alt="edit the SWAN config"/>
                            </a>
                            <a href="{% url coastalmodels_swanconfigdelete m.id %}"
                               title="Delete the SWAN config"
                               onclick="return confirm('Are you sure you want to delete?')">
                                <img src="{{ STATIC_URL }}coastalmodels/img/page_white_delete.png"
                                     alt="delete the SWAN config"/>
                            </a>
                        {% endifequal %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> You don't have a SWAN config file yet. Please click
            <a href="{% url coastalmodels_swanconfigadd %}" title="Create a new SWAN config">
                <img src="{{ STATIC_URL }}coastalmodels/img/page_white_add.png"
                     alt="create a new SWAN config"/>
            </a>create a new SWAN config</p>

    {% endif %}
{% endblock %}