{% extends "template.html" %}

{% block local_js %}
    <script type='text/javascript' src='{{ STATIC_URL }}slider/js/bjqs-1.3.min.js'></script>
{% endblock %}

{% block local_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}slider/bjqs.css">
{% endblock %}

{% block title %}
    Scgate - Home
{% endblock %}

{% block shortcuts_title %}
    Home Panel
{% endblock %}

{% block shortcuts %}
    {% include "urllinks.html" %}
{% endblock %}

{% block page_title %}
    <img class="infobox" src="{{ STATIC_URL }}simulocean/img/earth/earth_scan-0.png"/>
    Welcome to Scgate !
{% endblock %}

{% block page_description %}
    {#    Scgate is a web framework to facilitate the deployment and visualization for coastal#}
    {#    modeling.#}
{% endblock %}

{% block page_content %}
    <a href="{% url simulocean_tutorial %}">
        <button class="btn btn-info btn-large">
            <span>Quickstart Tutorial</span>
        </button>
    </a>
    <a href="{% url auth_login %}">
        <button class="btn btn-primary btn-large">
            <span>Login Scgate</span>
        </button>
    </a>
    <a href="http://localhost:8000">
        <button class="btn btn-success btn-large">
            <span>Data Server</span>
        </button>
    </a>
    <a href="{% url simulocean_license %}">
        <button class="btn btn-warning btn-large">
            <span>Term of Services</span>
        </button>
    </a>

    {#    <div id="banner-fade" style="width:1080px; margin:0 auto;">#}
    {#insitudata_plot.png  insitudata_table.png  job_monitoring.png  model_input.png#}
    {#        <!-- start Basic Jquery Slider -->#}
    {#        <ul class="bjqs" style="text-align: center;">#}
    {#            <li>#}
    {#                <img src="{{ STATIC_URL }}simulocean/img/slide/insitudata_plot.png"#}
    {#                     title="Scgate In Situ Data Plot">#}
    {#            </li>#}
    {#            <li>#}
    {#                <img src="{{ STATIC_URL }}simulocean/img/slide/insitudata_table.png"#}
    {#                     title="Scgate In Situ Data Table">#}
    {#            </li>#}
    {#            <li>#}
    {#                <img src="{{ STATIC_URL }}simulocean/img/slide/job_monitoring.png"#}
    {#                     title="Scgate Job Monitoring">#}
    {#            </li>#}
    {#            <li>#}
    {#                <img src="{{ STATIC_URL }}simulocean/img/slide/model_input.png" title="Scgate Model Input">#}
    {#            </li>#}
    {#        </ul>#}
    {#        <!-- end Basic jQuery Slider -->#}
    {##}
    {#    </div>#}
    {#    <script class="secret-source">#}
    {#        jQuery(document).ready(function ($) {#}
    {#            $('#banner-fade').bjqs({#}
    {#                // w + h to enforce consistency#}
    {#                width: 700,#}
    {#                // transition valuess#}
    {#                animtype: 'fade',#}
    {#                animduration: 450, // length of transition#}
    {#                animspeed: 4000, // delay between transitions#}
    {#                automatic: true, // enable/disable automatic slide rotation#}
    {##}
    {#                // control and marker configuration#}
    {#                showcontrols: true, // enable/disable next + previous UI elements#}
    {#                centercontrols: true, // vertically center controls#}
    {#                nexttext: 'Next &gt;', // text/html inside next UI element#}
    {#                prevtext: '&lt; Pre', // text/html inside previous UI element#}
    {#                showmarkers: true, // enable/disable individual slide UI markers#}
    {#                centermarkers: false, // horizontally center markers#}
    {##}
    {#                // interaction values#}
    {#                keyboardnav: false, // enable/disable keyboard navigation#}
    {#                hoverpause: true, // enable/disable pause slides on hover#}
    {##}
    {#                // presentational options#}
    {#                usecaptions: true, // enable/disable captions using img title attribute#}
    {#                randomstart: true, // start from a random slide#}
    {#                responsive: false     // enable responsive behaviour#}
    {##}
    {#            });#}
    {##}
    {#        });#}
    {#    </script>#}

{% endblock %}