{% extends "coastalmodels/base.html" %}

{% block page_title %}
    Model Input List
{% endblock %}

{% block page_content %}
    {% if object_list %}
        <table id="datatable" width="100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>User</th>
                <th>Group</th>
                <th>Model</th>
                <th>Prior Model Input</th>
                <th>Config</th>
                <th>Input Data</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for m in object_list %}
                <tr>
                    <td>
                        {{ m.id }}
                    </td>
                    <td>
                        <a href="{% url coastalmodels_modelinputview m.id %}" title="{{ m.name }} {{ m.description }}">
                            {{ m.name }}
                        </a>
                    </td>
                    <td>{{ m.user }}</td>
                    <td>{{ m.group }}</td>
                    <td>
                        <a href="{% url coastalmodels_coastalmodelview m.model.id %}"
                           title="View the model input {{ m.model.id }}">
                            {{ m.model }}
                        </a>
                    </td>
                    <td>
                        {% if m.prior_model %}
                            <a href="{% url coastalmodels_modelinputview m.prior_model.id %}"
                               title="{{ m.prior_model.name }} {{ m.prior_model.description }}">
                                {{ m.prior_model.name }}
                            </a>
                        {% endif %}
                    </td>
                    {#                    <td>#}
                    {#                        {% if not m.upload_parfile and m.parfile_ready %}#}
                    {#                            <a href="{% url coastalmodels_modelinputexport m.id %}"#}
                    {#                               title="Download the model intput file">#}
                    {#                                <img src="{{ STATIC_URL }}coastalmodels/img/page_white_put.png"#}
                    {#                                     alt="view requested data"/>#}
                    {#                            </a>#}
                    {# TODO: we shall show the parameter file if it is uploaded #}
                    {#                        {% endif %}#}
                    {#                    </td>#}
                    <td><a href="{{ m.model.config_list }}" title="Model config file">{{ m.delft3d_config }}</a>
                    </td>
                    <td>
                        <table style="width: 100%">
                            <tr>
                                <td style="width: 20px;">
                                    {#TODO we need to check delft3d_config after we find a way to distinguish different models via related_name#}

                                    {#                                    {% if m.delft3d_config %}#}
                                    <a href="{% url models_modelinputdataadd m.id %}"
                                       title="Create a model config file first">
                                        <i class="icon-plus-sign"></i>
                                        {#                                        </button>#}
                                    </a>
                                    {#                                    {% else %}#}

                                    {#                                        <a href="{{ m.model.config_editor }}{{ m.id }}"#}
                                    {#                                           title="Upload input data">#}
                                    {#                                            <i class="icon-plus-sign"></i>#}
                                    {#                                        </button>#}
                                    {#                                        </a>#}
                                    {#                                    {% endif %}#}
                                </td>
                                <td>
                                    {% if request.user == m.user or m.group in request.user.groups.all %}
                                        {% for i in m.inputdatasets.all %}
                                            <a href="{{ MEDIA_URL }}{{ m.input_dir }}/{{ i.name }}"
                                               title="view file {{ i.name }}">
                                                <span style="margin:2px;" class="label label-info">{{ i.name }}</span>
                                            </a>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <a href="{% url coastalmodels_modelinputview m.id %}" title="View the model input">
                            <img src="{{ STATIC_URL }}coastalmodels/img/world_magnify.png" alt="view the input"/>
                        </a>
                        {% ifequal m.user request.user %}
                            {#                            <a href="{% url coastalmodels_modelinputedit m.id %}" title="Edit the model input">#}
                            {#                                <img src="{{ STATIC_URL }}coastalmodels/img/world_edit.png" alt="edit the input"/>#}
                            {#                            </a>#}
                            <a href="{% url coastalmodels_modelinputdelete m.id %}"
                               title="Delete a model input"
                               onclick="return confirm('Are you sure you want to delete ? All input data will be deleted.')">
                                <img src="{{ STATIC_URL }}coastalmodels/img/world_delete.png"
                                     alt="delete a model input"/>
                            </a>
                        {% endifequal %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="page_description"> You don't have an input yet. Please click
            <a href="{% url coastalmodels_modelinputadd %}" title="Create a new model input">
                <img src="{{ STATIC_URL }}coastalmodels/img/world_add.png" alt="create a new model input"/>
            </a> to create a new model input.
        </p>
    {% endif %}

    {#TODO leave this for Coastal APP Store#}
    {#    <br/><br/>#}
    {#    <table width="100%" border="0" cellspacing="0px" cellpadding="0" class="list" style="text-align: center;">#}
    {#        <tr>#}
    {#            <td>#}
    {#                <a href="{% url coastalmodels_swanconfigadd %}">#}
    {#                    <img class="infobox"#}
    {#                         title="Create a SWAN config"#}
    {#                         src="{{ STATIC_URL }}coastalmodels/img/add_swan.png"/>#}
    {#                </a>#}
    {#            </td>#}
    {#            <td>#}
    {#                <a href="{% url coastalmodels_delft3dconfigadd %}">#}
    {#                    <img class="infobox"#}
    {#                         title="Create a Delft3D config"#}
    {#                         src="{{ STATIC_URL }}coastalmodels/img/add_delft3d.png"/>#}
    {#                </a>#}
    {#            </td>#}
    {##}
    {#            <td>#}
    {#                <a href="{% url coastalmodels_adcircconfigadd %}">#}
    {#                    <img class="infobox"#}
    {#                         title="Create a ADCIRC config"#}
    {#                         src="{{ STATIC_URL }}coastalmodels/img/add_adcirc.png"/>#}
    {#                </a>#}
    {#            </td>#}
    {#            <td>#}
    {#                <a href="{% url coastalmodels_cafunwaveconfigadd %}">#}
    {#                    <img class="infobox"#}
    {#                         title="Create a CaFunWAVE config"#}
    {#                         src="{{ STATIC_URL }}coastalmodels/img/add_cafunwave.png"/>#}
    {#                </a>#}
    {#            </td>#}
    {#        </tr>#}
    {#    </table>#}
{% endblock %}

{% block hint_title %}
    Model Input List
{% endblock %}
{% block hint_content %}
    This page lists all your model inputs and the model inputs shared by others. A model input
    contains all the required informatoin for running the selected model. In addition to all the required
    parameter files and input data, a model input needs a model configuration
    for the selected model to provide model specific services.
    You can create (<img src='{{ STATIC_URL }}coastalmodels/img/world_add.png' alt='create a model input'/>),
    delete (<img src='{{ STATIC_URL }}coastalmodels/img/world_delete.png' alt='delete a model input'/>),
    and view (<img src='{{ STATIC_URL }}coastalmodels/img/world_magnify.png' alt='view a model input'/>)
    your model inputs here. You can start uploading input files by clicking
    <i class='icon-plus-sign'></i>.
{% endblock %}
