{% extends "profiles/base.html" %}

{% block page_title %}
    Scgate User List
{% endblock %}

{% block page_content %}
    {% if object_list %}
        <table id="datatable" width="100%">
            <thead>   <!-- header row -->
            <tr>
                <th>ID</th>
                <th>User Account</th>
                <th>User Groups</th>
                <th>Name</th>
                <th>Email</th>
                <th>Affiliation</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                {% if object.public or object.user == user or user.is_superuser %}
                    <tr>
                        <td>
                            <a href="/profiles/{{ object.user.username }}" title="view profile detail">
                                {{ object.id }}
                            </a>
                        </td>
                        <td>
                            <a href="/profiles/{{ object.user.username }}" title="view profile detail">
                                {{ object.user.username }}
                            </a>
                        </td>
                        <td>
                            {% for group in object.user.groups.all %}
                                {% if forloop.first %}{% else %},{% endif %}
                                {{ group }}
                            {% endfor %}
                        </td>
                        <td>
                            {% if object.first_name and object.last_name %}
                                {{ object.first_name }} {{ object.last_name }}
                            {% else %}None
                            {% endif %}
                        </td>
                        <td>
                            <a href="mailto:{{ object.user.email }}">{{ object.user.email }}</a>
                        </td>
                        <td>
                            {{ object.affiliation }}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}

            </tbody>
        </table>
    {% else %}
        <p class="page_description">
            There are no profiles available to view.
        </p>
    {% endif %}

{% endblock %}

{% block hint_title %}
   Profile List
{% endblock %}
{% block hint_content %}
    All Scgate users that are willing to share their profiled will appear here.
{% endblock %}
