{% extends "simesh/base.html" %}
{% block local_css %}
    {#    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css"/>#}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}timepicker/jquery-ui-timepicker-addon.css"/>
{% endblock %}

{% block local_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}timepicker/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}timepicker/jquery-ui-sliderAccess.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#starttimepicker").datetimepicker();
            $("#endtimepicker").datetimepicker();
        })
    </script>

    <script type='text/javascript' src='{{ STATIC_URL }}openlayers/OpenLayers.js'></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&v=3.4"></script>
    <script type='text/javascript'>
        var map;
        var projWGS84 = new OpenLayers.Projection("EPSG:4326");
        var proj900913 = new OpenLayers.Projection("EPSG:900913");
        var bbox;

        function init() {
            map = new OpenLayers.Map('map_container', {
                maxResolution: 156543.0339,
                units: 'm',
                projection: proj900913,
                displayProjection: projWGS84
            });
            var domain_selector = new OpenLayers.Layer.Vector(
                    'Domain Selector', {
                        eventListeners: {
                            "featureadded": featureAddedListener
                        }
                    }
            );
            var gter = new OpenLayers.Layer.Google(
                "Google Terrain",
                {type: google.maps.MapTypeId.TERRAIN, numZoomLevels: 20}
            );

            /* street layer */
            var gmap = new OpenLayers.Layer.Google(
                    'Google Streets',
                    {numZoomLevels: 20}
            );
            var ghyb = new OpenLayers.Layer.Google(
                    "Google Hybrid",
                    {type: google.maps.MapTypeId.HYBRID, numZoomLevels: 20}
                    // used to be {type: G_HYBRID_MAP, numZoomLevels: 20}
            );
            var gsat = new OpenLayers.Layer.Google(
                    "Google Satellite",
                    {type: google.maps.MapTypeId.SATELLITE, numZoomLevels: 22}
                    // used to be {type: G_SATELLITE_MAP, numZoomLevels: 22}
            );
            /* add layers */
            map.addLayers([gter, gmap, gsat, ghyb, domain_selector]);
            map.addControl(new OpenLayers.Control.LayerSwitcher({}));
            map.addControl(new OpenLayers.Control.EditingToolbar(domain_selector, {'tools': ['Polygon']}));
            var mousePositionCtrl = new OpenLayers.Control.MousePosition({
                        prefix: '<a target="_blank" ' +
                                'href="http://spatialreference.org/ref/epsg/4326/">' +
                                'EPSG:4326</a>: '
                    }
            );
            map.addControl(mousePositionCtrl);

            /* Baton Rouge*/
            map.setCenter(new OpenLayers.LonLat(-89, 25).transform(projWGS84, proj900913), 5);
            map.events.register();

            function featureAddedListener(event) {
                var feature = event.feature;
                var bbox = feature.geometry.bounds.transform(proj900913, projWGS84)
                $(function () {
                    $('#id_longitude_min').val(bbox.left.toFixed(3));
                    $('#id_longitude_max').val(bbox.right.toFixed(3));
                    $('#id_latitude_min').val(bbox.bottom.toFixed(3));
                    $('#id_latitude_max').val(bbox.top.toFixed(3));
                });
            }
        }
    </script>
    <script>
    </script>

{% endblock %}

{% block onload %} onload='init();'{% endblock %}

{% block page_title %}
    Domain Selection
{% endblock %}

{% block page_content %}
    <div class="row-fluid">
        <div class="span4">
            <form class="form-horizontal" action="{% url simesh_domainadd %}" method="POST">
                {{ form.non_field_errors }}
                {% csrf_token %}
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th><label for="id_project">{{ form.project.label }}:</label></th>
                        <td>
                            {{ form.project.errors }}
                            {{ form.project }}
                            <br/>
                            <span class="helptext">{{ form.project.help_text }}</span>
                        </td>
                    </tr>

                    <tr>
                        <th><label for="id_start_time">Start time:</label></th>
                        <td>
                            {{ form.start_time.errors }}
                            <div class="input-append">
                                {{ form.start_time }}
                                <span class="add-on">UTC</span>
                            </div>
                            <br/>
                            <span class="helptext">{{ form.start_time.help_text }}</span>
                        </td>
                    </tr>

                    <tr>
                        <th><label for="id_end_time">End time:</label></th>
                        <td>
                            {{ form.end_time.errors }}
                            <div class="input-append">
                                {{ form.end_time }}
                                <span class="add-on">UTC</span>
                            </div>
                            <br/>
                            <span class="helptext">{{ form.end_time.help_text }}</span>
                        </td>
                    </tr>

                    <tr>
                        <th><label for="id_latitude_min">Latitude min:</label></th>
                        <td>
                            {{ form.latitude_min.errors }}
                            <div class="input-append">
                                {{ form.latitude_min }}
                                <span class="add-on">&deg; E</span>
                            </div>
                            <br/>
                            <span class="helptext">{{ form.latitude_min.help_text }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="id_latitude_min">Longitude min:</label></th>
                        <td>
                            {{ form.longitude_min.errors }}
                            <div class="input-append">
                                {{ form.longitude_min }}
                                <span class="add-on">&deg; N</span>
                            </div>
                            <br/>
                            <span class="helptext">{{ form.longitude_min.help_text }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="id_latitude_max">Latitude max:</label></th>
                        <td>
                            {{ form.latitude_max.errors }}
                            <div class="input-append">
                                {{ form.latitude_max }}
                                <span class="add-on">&deg; E</span>
                            </div>
                            <br/>
                            <span class="helptext">{{ form.latitude_max.help_text }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="id_longitude_max">Longitude max:</label></th>
                        <td>
                            {{ form.longitude_max.errors }}
                            <div class="input-append">
                                {{ form.longitude_max }}
                                <span class="add-on">&deg; N</span>
                            </div>
                            <br/>
                            <span class="helptext">{{ form.longitude_max.help_text }}</span>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="id_description">{{ form.description.label }}:</label></th>
                        <td>
                            {{ form.description.errors }}
                            {{ form.description }}
                            <br/>
                            <span class="helptext">{{ form.description.help_text }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="submit" class="btn btn-primary"><span>Save</span></button>
                        </td>
                    </tr>
                    </tbody>
                    {#                    <tbody>#}
                    {#                    {{ form.as_table }}#}
                    {#                    <tr>#}
                    {#                        <td></td>#}
                    {#                        <td>#}
                    {#                            <button type="submit" class="btn btn-primary">#}
                    {#                                <span>Save</span>#}
                    {#                            </button>#}
                    {#                        </td>#}
                    {#                    </tr>#}
                    {#                    </tbody>#}
                </table>
            </form>
        </div>
        <div class="span8">
            <div id="map_container" style="width: 100%; height: 540px; border: 0;"></div>
        </div>
    </div>
{% endblock %}

{% block hint_title %}
    Domain Selection
{% endblock %}
{% block hint_content %}
    Use the tool provided on top right of the map to select an interested domain.
    The domain will be used by Scgate to automatically pull the observational
    data and validate models.
{% endblock %}